/* src/components/About.css */

.about-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.about-title {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-align: center;
}

.goodbye-box {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.about-box {
    max-width: 600px;
    margin: 50px;
    border-radius: 10px;
}
.about-box2 {
    max-width: 600px;
    margin: 50px;
    border-radius: 10px;
}
.about-description {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
}

  /* Pantallas medianas (entre 600px y 1024px) */
@media (max-width: 1024px) and (min-width: 750px) {
    .about-container {
      padding: 15px;
    }
}
  
  /* Pantallas pequeñas (hasta 600px) */
@media (max-width: 750px) {
    .about-container {
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-evenly;
    }
    .about-box {
        margin: 25px;
        width: 100%;
        min-width: 395px;
    }
}