/* App.css */

.App {
  background-image: url("./assets/background_3.jpg");
  background-size: cover;
  min-height: 100vh;
}
.App-header {
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 1.2rem 0.1rem 1rem;
  background-color: rgba(0, 0, 0, 0.3); /* Fondo semi-transparente */
  position: fixed; /* Fija la navbar en la parte superior */
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar-izq {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #61dafb;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.3rem;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: normal;
  transition: color 0.3s ease;
}
.navbar-links li span {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: normal;
  transition: color 0.3s ease;
}
.navbar-links li span:hover {
  color: #6b0a8b; 
}
.navbar-links li{
  display: flex;
  align-items: center;
}

.navbar-links li a:hover {
  color: #6b0a8b; 
}

.navbar-links .active{
  font-weight: bold;
  font-size: 1.6rem;
  color: #3e0651; 
  border-radius: 1px;
  
}
.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
.navbar-links.open {
  display: flex;
}

.navbar-links-sign {
  list-style: none;
  display: flex;
  gap: 1.3rem;
  margin-right: 1.5rem;
}

.navbar-links-sign li a{
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.5s ease;
}
.navbar-links-sign li a:hover{
  color: #b4b1b1; 
}

.navbar-links-sign li{
  display: flex;
  align-items: center;
}
.navbar-der{
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup{
  padding: 7px 10px 10px;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.signup:hover{
  border: 1px solid rgb(159, 156, 156);
}
.circle-logo {
  width: 40px;               
  height: 40px;             
  background-image: url("./assets/logo_visionary.webp");
  background-size: cover;
  border-radius: 50%;  
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  position: absolute;
  background-color:rgba(0, 0, 0, 0.3);
  margin-top: 12rem;
  min-width: 160px;
  max-width: 343px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 1;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.dropdown-content a {
  color: black;
  font-size: 1rem;
  padding: 4px 12px;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.dropdown-content a:hover {
  background-color: rgba(19, 18, 19, 0.3);
}

main {
  padding-top: 5rem; 
  text-align: center;
}

/* Pantallas grandes (más de 1024px) */
@media (min-width: 1024px) {
  .navbar-links {
    gap: 2rem; /* Espaciado más grande entre los enlaces */
  }

  .navbar-links-sign {
    gap: 2rem;
  }
}

/* Pantallas medianas (entre 600px y 1024px) */
@media (max-width: 1024px) and (min-width: 750px) {
  .navbar {
    padding: 0.5rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 2s ease;
  }

  .navbar-links {
    gap: 1rem; /* Espaciado entre los enlaces más pequeño */
  }

  .navbar-logo {
    font-size: 1.2rem; /* Tamaño más pequeño para el logo */
  }

  .signup {
    font-size: 0.9rem;
  }
}

/* Pantallas pequeñas (hasta 600px) */
@media (max-width: 750px) {
  .navbar {
    flex-direction: row; 
    padding: 0.5rem 1rem 1rem 0rem;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 2s ease;
  }

  .navbar-links {
    display: none; /* Ocultar el menú por defecto en pantallas pequeñas */
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 7.5rem;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    padding: 1rem;
  }
  .navbar-links-sign {
    margin-right: 0; /* Elimina el margen derecho */
    gap: 0.8rem; /* Ajusta el espaciado */
  }
  .navbar-links li a:hover {
    color: #cd79e9; 
  }
  .navbar-links li a.active {
    color: #bf2fba; 
  }
  .navbar-der {
    margin: 1rem 1rem; /* Añade separación superior */
  }

  .circle-logo {
    visibility: hidden;
  }
  .hamburger {
    display: block; /* Mostrar el botón de hamburguesa en pantallas pequeñas */
  }

  .navbar-links.open {
    display: block;
  }
  .navbar-links.open li a.active{
    color: #bf2fba; 
  }
  .dropdown-content {
    background-color:rgba(0, 0, 0, 0.7);
  }
}

